@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{box-sizing: border-box;}
body, p, h1, h2, h3, h4, h5, h6, menu, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {margin:0;padding:0;}
html, body {width:100%;height:100%;overflow:auto;}
body, input, textarea, select, button {font-family:'Nanum Gothic',dotum,verdana,Geneva,sans-serif!important;font-size:11px;color:#424242;}
img, fieldset {border:0;}
ul, ol {list-style:none;}
a {text-decoration:none;}
select, textarea, input {
    font-family:'Nanum Gothic',dotum,verdana,Geneva,sans-serif!important;
    font-size: 11px;
    text-decoration: none;
    color: #424242;
    border: 1px solid #bfbfbf;
}
body {
    font-family:'Nanum Gothic',dotum,verdana,Geneva,sans-serif!important;
    font-size: 11px;
    scrollbar-face-color: #d8d8d8;
    scrollbar-shadow-color: #d8d8d8;
    scrollbar-highlight-color: #ffffff;
    scrollbar-3dlight-color: #c9c9c9;
    scrollbar-darkshadow-color: #6c6c6c;
    scrollbar-track-color: white;
    scrollbar-arrow-color: #666666;
    background-color: white;
}
caption, legend {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
form {
    margin: 0;
}
tr, td {
    font-family:'Nanum Gothic',dotum,verdana,Geneva,sans-serif!important;
    font-size: 11px;
    color: #262626;
}
input {
    font-family:'Nanum Gothic',dotum,verdana,Geneva,sans-serif!important;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    height: 17px;
    border: 1px solid #d3d3d3;
    vertical-align: middle;
}
textarea {
    font-family:'Nanum Gothic',dotum,verdana,Geneva,sans-serif!important;
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #b7b7b7;
    border-right-color: #d3d3d3;
    border-bottom-color: #d3d3d3;
}
thead tr {
    position: relative;
    z-index: 20;
}
thead th {
    position: relative;
    cursor: default;
    padding-top: 3px;
}

/* 페이지 구성 Start */
.content_wrapper_div {
    width:100%; height:100%; padding:10px 15px 0 10px;
}
.content_title_div, .content_divide_div, .content_body_div, .content_footer_div {
    width:100%;
}
.content_title_div {
    vertical-align:top; height: 20px;
}
.content_divide_div {
    height:5px;
}
.content_body_div {
    vertical-align:top; padding:0;
}
.content_footer_div {
    /* height:33px; vertical-align:top; padding:0; */
    height:5px; vertical-align:top; padding:0;
}
.content_title_table {
    width:100%; border-width:0; padding:0; border-spacing:0;
}
.content_footer_table {
    width:100%; border-width:0; padding:0; border-spacing:0;
}
.content_footer_td1 {
    height:10px;
}
.content_footer_td2 {
    height:3px; background-color:#94b0c7;
}
.content_footer_td3 {
    height:20px; text-align:right; padding-top:5px; padding-right: 20px; font-size:11px;
}
.content_footer_td4 {
    height:0;
}

/* 페이지 구성 End */


/* 컨텐츠 페이지 CSS 수정적용 Start */

.page_title {
    width:46%;height:25px;font-weight:800;font-size:14px;color:#424242;
}
.page_sitemap {
    width:53%;height:25px;padding-right:10px;text-align:right;
}

/* 검색조건 CSS Start */

.find_top_line  { width:100%; margin-top:5px; border: 1px solid #e0e0e0; border-top: 2px solid #6f6f6f;}
.find_title     { width:120px; background-color: #dde8e8;  border-bottom: 1px solid #c0d3d3;  font-weight:800;font-size:12px;  padding: 3px 5px 3px 3px;  color: #555555;  height: 32px; }
.find_title_l   { width:120px; background-color: #dde8e8;  border-bottom: 1px solid #c0d3d3;  font-weight:800;font-size:12px;  padding: 3px 5px 3px 3px;  color: #555555;  height: 32px;  text-align: left; }
.find_title_c   { width:120px; background-color: #dde8e8;  border-bottom: 1px solid #c0d3d3;  font-weight:800;font-size:12px;  padding: 3px 5px 3px 3px;  color: #555555;  height: 32px;  text-align: center; }
.find_title_r   { width:120px; background-color: #dde8e8;  border-bottom: 1px solid #c0d3d3;  font-weight:800;font-size:12px;  padding: 3px 5px 3px 3px;  color: #555555;  height: 32px;  text-align: right; }
.find_data    { position: relative; background-color: #ffffff;  border-bottom: 1px solid #c0d3d3;  border-left: 1px solid #f1f1f1;  font-weight:400;font-size:11px;  text-align: left;  vertical-align: middle;  padding: 1px 3px 2px 3px; }
.find_data_l  { position: relative; text-align: left; background-color: #ffffff;  border-bottom: 1px solid #c0d3d3;  border-left: 1px solid #f1f1f1;  font-weight:400;font-size:11px;   vertical-align: middle;  padding: 1px 3px 2px 3px; }
.find_data_r  { position: relative; background-color: #ffffff;  border-bottom: 1px solid #c0d3d3;  border-left: 1px solid #f1f1f1;  font-weight:400;font-size:11px;  text-align: right;  vertical-align: middle;  padding: 1px 3px 2px 3px; }
.find_data_c  { position: relative; background-color: #ffffff;  border-bottom: 1px solid #c0d3d3;  border-left: 1px solid #f1f1f1;  font-weight:400;font-size:11px;  text-align: left;  vertical-align: middle;  padding: 1px 3px 2px 3px; }

/* 검색조건 CSS End */

/* 등록폼  CSS Start */
.form_top_line  { width:100%; margin-top:5px;    border: 1px solid #e0e0e0;    border-top: 2px solid #6f6f6f;}
.form_title     { width:120px; background-color: #dde8e8;  border-bottom: 1px solid #c0d3d3;  font: bold 12px dotum;  padding: 3px 5px 3px 3px;  color: #555555;  height: 29px; }
.form_title_l   { width:120px; background-color: #dde8e8;  border-bottom: 1px solid #c0d3d3;  font: bold 12px dotum;  padding: 3px 5px 3px 3px;  color: #555555;  height: 29px;  text-align: left; }
.form_title_c   { width:120px; background-color: #dde8e8;  border-bottom: 1px solid #c0d3d3;  font: bold 12px dotum;  padding: 3px 5px 3px 3px;  color: #555555;  height: 29px;  text-align: center; }
.form_title_r   { width:120px; background-color: #dde8e8;  border-bottom: 1px solid #c0d3d3;  font: bold 12px dotum;  padding: 3px 5px 3px 3px;  color: #555555;  height: 29px;  text-align: right; }
.form_data    { position: relative;background-color: #ffffff;  border-bottom: 1px solid #c0d3d3;  border-left: 1px solid #f1f1f1;  font-weight:400;font-size:11px;  text-align: left;  vertical-align: middle;  padding: 1px 3px 2px 3px;  height: 29px;}
.form_data_l  { position: relative;text-align: left; background-color: #ffffff;  border-bottom: 1px solid #c0d3d3;  border-left: 1px solid #f1f1f1;  font-weight:400;font-size:11px;    vertical-align: middle;  padding: 1px 3px 2px 3px; height: 29px;}
.form_data_r  { position: relative;text-align: right; background-color: #ffffff;  border-bottom: 1px solid #c0d3d3;  border-left: 1px solid #f1f1f1;  font-weight:400;font-size:11px;   vertical-align: middle;  padding: 1px 3px 2px 3px; height: 29px;}
.form_data_c  { position: relative;text-align: center; background-color: #ffffff;  border-bottom: 1px solid #c0d3d3;  border-left: 1px solid #f1f1f1;  font-weight:400;font-size:11px;  vertical-align: middle;  padding: 1px 3px 2px 3px; height: 29px;}

/* 등록폼  CSS End */

/* 그리드 CSS Start */
.grid_top_line  {width:100%; border-width:0; border-spacing:0; padding:0;}
.grid_title   {}
.grid_title_l   {text-align: left;}
.grid_title_r   {text-align: right;}
.grid_title_c   {text-align: center;}
.grid_data:not(th)    {position: relative;}
.grid_data_l:not(th)  {position: relative;text-align: left;}
.grid_data_r:not(th)  {position: relative;text-align: right;}
.grid_data_c:not(th)  {position: relative;text-align: center;}
/* 그리드 CSS End */

/* 테이블 CSS Start */
.table_top_line  { border-top: solid 2px #6f6f6f; border-right: solid 1px #e0e0e0; width: 100%; margin-top:5px; border-left:solid 1px #e0e0e0; border-bottom: solid 1px #e0e0e0;}
.table_title   { filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr=#fffffd, endcolorstr=#fafafa);  border-left: solid 1px #e0e0e0;  border-bottom: solid 1px #515151;  word-break: break-all;    color: #333333;  font-weight:800; font-size:12px;  padding: 4px 2px 2px 2px;  height: 35px;  background-color:#ffffea; }
.table_title_l   { text-align: left; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0,    startcolorstr=#fffffd, endcolorstr=#fafafa);  border-left: solid 1px #e0e0e0;  border-bottom: solid 1px #515151;  word-break: break-all;    color: #333333;  font-weight:800; font-size:12px;  padding: 4px 2px 2px 2px;  height: 35px; background-color:#ffffea;}
.table_title_r   { text-align: right; filter: progid:dximagetransform.microsoft.gradient(gradienttype=0,    startcolorstr=#fffffd, endcolorstr=#fafafa);  border-left: solid 1px #e0e0e0;  border-bottom: solid 1px #515151;  word-break: break-all;    color: #333333;  font-weight:800; font-size:12px;  padding: 4px 2px 2px 2px;  height: 35px; background-color:#ffffea;}
.table_title_c   { text-align: center;  filter: progid:dximagetransform.microsoft.gradient(gradienttype=0,    startcolorstr=#fffffd, endcolorstr=#fafafa);  border-left: solid 1px #e0e0e0;  border-bottom: solid 1px #515151;  word-break: break-all;    color: #333333;  font-weight:800; font-size:12px;  padding: 4px 2px 2px 2px;  height: 35px; background-color:#ffffea;}
.table_data    { position: relative;font-family: verdana, dotum, serif;  font-size: 11px;  color: #262626; padding: 3px 3px 0 3px;  mso-number-format: "\@";  border-left: solid 1 #ecebeb;  border-bottom: solid 1 #ecebeb; height: 29px;}
.table_data_l  { position: relative;text-align: left; vfont-family: verdana, dotum, serif;  font-size: 11px;  color: #262626; padding: 3px 3px 0 3px;  height: 20px;  mso-number-format: "\@";  border-left: solid 1 #ecebeb;  border-bottom: solid 1 #ecebeb; }
.table_data_r  { position: relative;text-align: right; font-family: verdana, dotum, serif;  font-size: 11px;  color: #262626; padding: 3px 3px 0 3px;  height: 20px;  mso-number-format: "\@";  border-left: solid 1 #ecebeb;  border-bottom: solid 1 #ecebeb; }
.table_data_c  { position: relative;text-align: center; font-family: verdana, dotum, serif;  font-size: 11px;  color: #262626; padding: 3px 3px 0 3px;  height: 20px;  mso-number-format: "\@";  border-left: solid 1 #ecebeb;  border-bottom: solid 1 #ecebeb; }

table.table tr[class^="table_alternate"]:nth-child(odd) {background: #f6f6f6;}
table.table tr[class^="table_alternate"]:nth-child(odd)  td input[class^="no_border"] {  background: #f6f6f6;}
table.table tr[class^="table_alternate"]:hover {background: #c4fdff !important;}
table.table tr[class^="table_alternate"]:hover td input {  background: #c4fdff !important;}
/* 테이블 CSS end */


/* hidden Div */
.hidden_div {
    width:100%; border-width:0; border-spacing:0; padding:0; display:none;
}

/* 컨텐츠 페이지 CSS 수정적용 End */


/* Pager list */
.page,
.page table {
    padding:0;
    border-width:0;
    border-spacing:0;
    color: #848484;
    font-size: 10pt;
    width:100%;
}

a.page:link {
    color: #6F6FFF;
    font-size: 10pt;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0;
}

a.page:visited {
    color: #6F6FFF;
    font-size: 10pt;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0;
}

a.page:hover {
    color: #F37801;
    font-size: 10pt;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0;
}

a.page:active {
    color: #F37801;
    font-size: 10pt;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0;
}

.list_page {
    position: relative;
    padding: 5px 10px 0 5px;
    height: 20px;
    background-color: #FFFFFF;
    font-size: 12px;
    font-weight: 800;
    color: #848484;
}

.list_page img { vertical-align: middle; }
.list_page a { text-decoration: none; vertical-align: middle; padding-top:2px;}
.list_page a div.selectedText {padding-top:2px;}

/* Pager list end */


/* file upload component */
.upload_data_l {
    text-align: left;
    border-spacing: 0;
    border-left: 1px solid #ecebeb;
    border-bottom: 1px solid #ecebeb;
    padding: 4px 3px 1px 3px;
}

.upload_data_c {
    text-align: center;
    border-spacing: 0;
    border-left: 1px solid #ecebeb;
    border-bottom: 1px solid #ecebeb;
    padding: 4px 3px 1px 3px;
}

.upload_data_r {
    text-align: right;
    border-spacing: 0;
    border-left: 1px solid #ecebeb;
    border-bottom: 1px solid #ecebeb;
    padding: 4px 3px 1px 3px;
}
. upload_head {
    background-color: #F1F1F1;
    border-bottom: 1px solid #E0E0E0;
    font: bold 12px dotum;
    padding: 3px 3px 0 3px;
    color: #555555;
    height: 29px;
    text-align: center;
}

.main_sub_title {
    color: #004774;
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
    vertical-align: middle;
    padding-top: 4px;
}

/* Progress bar */
.loadingWrap img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 42%;
    top: 35%;
}

/*** 테두리 있음 ***/
.border_l {
    text-align: left;
}
.border_r {
    text-align: right;
}
.border_c {
    text-align: center;
}
.border {
    text-align: center;
}

/*** 테두리 없음 ***/
.no_border_l {
    text-align: left;
    border: none;
    background-color: #ffffff;
}
.no_border_r {
    text-align: right;
    border: none;
    background-color: #ffffff;
}
.no_border_c {
    text-align: center;
    border: none;
    background-color: #ffffff;
}
.no_border {
    border: none;
    background-color: #ffffff;
}

.btnDiv_l{
    text-align: left;
}
.btnDiv_c{
    text-align: center;
}
.btnDiv_r{
    text-align: right;
}

.popVinView{
    font: bold 12px arial, sans-serif;
    background-color: #FFEAEA;
}

/* ========================= 아래 CSS는 삭제 예정임 ======================================= */


/* ------------- Search ------------- */

.search_title2 {
    background-color: #F1F1F1;
    border-bottom: 1px solid #E0E0E0;
    font-size: 12px;
    font-family: dotum, serif;
    text-align: right;
    padding: 3px 3px 0 3px;
    color: #555555;
    height: 29px;
}

.search_table01 {
    border-top: 2px solid #515151;
    border-right: 1px solid #E0E0E0;
    background-color: #ffffff;
}

.search_title {
    background-color: #F1F1F1;
    border-bottom: 1px solid #E0E0E0;
    font: bold 12px dotum;
    text-align: right;
    padding: 3px 3px 0 3px;
    color: #555555;
    height: 29px;
}

.search_data {
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    font-weight:400;font-size:11px;
    text-align: left;
    vertical-align: middle;
    padding: 1px 3px 2px 3px;
}

.search_button {
    border-bottom: 1px solid #f1f1f1;
    background-color: #ffffff;
    text-align: right;
    padding: 0 15px 0 0;
}

/* KHH text-align */
.search_title_l {
    background-color: #F1F1F1;
    border-bottom: 1px solid #E0E0E0;
    font: normal 12px dotum;
    padding: 3px 3px 0 3px;
    color: #555555;
    height: 29px;
    text-align: left
}

.search_title_c {
    background-color: #F1F1F1;
    border-bottom: 1px solid #E0E0E0;
    font: normal 12px dotum;
    padding: 3px 3px 0 3px;
    color: #555555;
    height: 29px;
    text-align: center;
}

.search_title_r {
    background-color: #F1F1F1;
    border-bottom: 1px solid #E0E0E0;
    font: normal 12px dotum;
    padding: 3px 3px 0 3px;
    color: #555555;
    height: 29px;
    text-align: right;
}


